/* Desarrollado por Jefrey Mauricio Carvajalino Peñaranda | byguen.com - Custom Development */
body { font-size: 100%; font-family: sans-serif, verdana; }
.toast {
    position:fixed;
    max-width:310px;
    height:auto;
    font-family: inherit;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
    color: #FFF;
    background:#333;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    bottom:20px;
    right:25%;
    left:50%;
    margin-left:-155px; /* la mitad del ancho total max-width */ 
    opacity: 0.8; -moz-opacity:0.8; filter:alpha(opacity=80);
    z-index: 99999;
}